# Python

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env

.venv/
venv/
.env

# IDE

.vscode/
.idea/

# Logs

logs/
*.log

# Models

models/*.pkl
models/*.joblib

# Data

data/anomalies/*.csv
data/raw/*.csv
data/processed/*.csv

# Jupyter

.ipynb_checkpoints/

# MLFlow

mlruns/
mlflow.db

# OS

.DS_Store
Thumbs.db